{% extends 'base.html.twig' %}
{% block title %}Client index{% endblock %}

{% block body %}
<div class="container">
        <h1>Client index</h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Contact</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.contact }}</td>
                    <td>
                        <a href="{{ path('crud_client_show', {'id': client.id}) }}" class="btn btn-warning">show</a>
                        <a href="{{ path('crud_client_edit', {'id': client.id}) }}" class="btn btn-info">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('crud_client_new') }}" class="btn btn-primary">Create new</a>
    </div>

{% endblock %}
