{% extends "base.html.twig" %}
{% block body %}

<div class="row">
    <div class="col-md-8 offset-1">
        <br>
        <a class=" btn btn-primary" href="{{path('nouvelleCaisse')}}">Nouvelle Caisse</a>
        <table class="table">
            <tr>
                <th>Caisse n°</th>
                <th>Nom</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
            {% for row in caisses %}
            <tr>
                <td>{{row.id}}</td>
                <td>{{row.nom}}</td>
                <td>{{row.code}}</td>
                <td >
                    <a class=" btn btn-info col-md-12" href="{{path('crediterCompte',{id:row.id})}}">Modifier</a>
            </tr>
                
            {% else %}
            <tr>
                <td colspan="3">La lite est vide ...</td>
            </tr> 
            {% endfor %}
        </table>
    </div>
</div>


{% endblock body %}