{% extends "base.html.twig" %}
{% block body %}

<div class="row">
    <div class="col-md-8 offset-1">
        <br>
        <a class=" btn btn-primary" href="{{path('crediterCompte')}}">Nouvelle Cotisation</a>
        <table class="table">
            <tr>
                <th>Membre</th>
                <th>Caisse</th>
                <th>Montant</th>
                <th>Date </th>

                <th>Actions</th>
            </tr>
            {% for row in caisses %}
            <tr>
                <td>{{row.inscription.membre.nom}}</td>
                <td>{{row.caisse.nom}}</td>
                <td>{{row.montant}}</td>
                <td>{{row.createdAt|date("d/m/Y")}}</td>
                <td>
                    <a class=" btn btn-info col-md-12" href="{{path('crediterCompte',{id:row.id})}}">Consulter</a>
                </td>
            </tr>
                
            {% else %}
            <tr>
                <td colspan="5">La liste est vide ...</td>
            </tr> 
            {% endfor %}
        </table>
    </div>
</div>


{% endblock body %}