{% extends "base.html.twig" %}
{% block body %}
<div id="wrapper">

    <div class="container offset-2 col-md-7">
        <h1>
			<p style="color:aqua; display:inline-block ">Liste des </p>
			<p style="display:inline-block; color:chartreuse; ">Comptes</p> 
		</h1>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><button class="btn btn-primary" data-toggle="modal" data-target="#client">Nouveau Compte <i class="ti-plus"></i></button></th>
                    <th>Num compte</th>
                    <th colspan="3">Client</th>
                </tr>
            </thead>
        
            <tbody>
                {% for item in comptes %}
                <tr>
                    <td style="width: 280px;">
                        <a class="btn_compte btn btn-warning" href="{{path('consulterClient',{id:item.id})}}"></i> Dépots / Retraits</a>
                        <a class="btn_compte btn btn-dark" href="{{path('consulterClient',{id:item.id})}}"></i> Virements</a>
                    </td>
                    
                    <td>{{item.numero}}</td>
                    <td style="width: 320px;">
                        <a class="btn_show_client btn btn-success" href="{{path('consulterClient',{id:item.id})}}"></i> Consulter</a>
						<a class="btn_update_client btn btn-primary" href="{{path('consulterClient',{id:item.client.id})}}">Modifier</a>
						<a class="removeOne btn btn-danger" href="{{path('deleteOneClient',{id:item.id})}}"></i> Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--/wrapper-->
{% endblock %}
